<div class="row">
  <div class="small-6 small-offset-3 columns text-center">
    <h1>Ajax Notes</h1>
  </div>
</div>

<div id="error_wrapper" class="row"></div>

<div id="form_wrapper" class="row">
  <div class="small-6 small-offset-3 columns">
    <%= form_for(@note, remote: true) do |n| %>
      <%= n.text_field :title, placeholder: 'Enter note title here....' %>
      <%= n.text_area :description, placeholder: 'Enter description here....' %>
      <div class="text-center">
        <%= n.submit 'Create Note', class: 'button small', id: 'create_button' %>
      </div>
    <% end %>
  </div>
</div>

<div id="notes_wrapper">
  <%= render @notes %>
</div>